@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

.details_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #fff;

  @include on-tablet {
    padding: 32px;
  }
}

.details_back_button_text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: transform 0.4s ease-in-out;

  @include on-tablet {
    font-size: 18px;
  }

  @include on-desktop {
    font-size: 24px;
  }
}

.details_back_button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 8px 0;
  cursor: pointer;

  &:hover .details_back_button_text {
    color: #d90f0f;
    transform: scale(1.15);
  }
}

.details_back_button_icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  transform: rotate(180deg);

  @include on-tablet {
    width: 24px;
    height: 24px;
  }

  @include on-desktop {
    width: 28px;
    height: 28px;
  }
}

.details_title_container {
  @include on-tablet {
    text-align: center;
  }
}

.details_title {
  font-family: Cinzel, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin: 16px 0;
}

.details_img_and_info_cover {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include on-tablet {
    flex-direction: row;
    justify-content: center;
  }
}

.details_info_cover {
  width: 100%;

  @include on-tablet {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.details_image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;

  @include on-tablet {
    width: 300px;
    height: 400px;
  }

  @include on-desktop {
    width: 500px;
    height: 400px;
  }
}

.product_price_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
}

.product_price {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  color: #fff;

  @include on-tablet {
    font-size: 24px;
  }
}

.product_like_button {
  background-color: #525252;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

.product_like_button:hover {
  background-color: #444;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.product_like_button:active {
  transform: scale(0.95);
  box-shadow: none;
}

.product_like_icon {
  cursor: pointer;
}

.main_info_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.main_info_sub_container {
  display: flex;
  justify-content: space-between;

  &:last-child {
    border-bottom: none;
  }
}

.main_info_label {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #525252;
  margin: 0;

  @include on-tablet {
    font-size: 18px;
  }

  @include on-desktop {
    font-size: 24px;
  }
}

.main_info_value {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 0;

  @include on-tablet {
    font-size: 18px;
  }

  @include on-desktop {
    font-size: 24px;
  }
}

.about_text {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 16px;
  margin: 0 0 16px;
  border-bottom: 1px solid #525252;
}

.description {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 16px;
  margin: 0 0 16px;
  border-bottom: 1px solid #525252;

  @include on-tablet {
    font-size: 18px;
  }
}

.arrow_down {
  width: 20px;
  height: 20px;
  transform: rotate(90deg) scale(1);
  transition: transform 0.3s ease-in-out;

  @include on-tablet {
    width: 30px;
    height: 30px;
  }

  @include on-desktop {
    width: 40px;
    height: 40px;
  }
}

.more_info_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin-top: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover .arrow_down {
    transform: rotate(-90deg) scale(1.2);
  }
}

.expanded {
  height: auto;
}

.more_info_trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.more_info {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

.more_info_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: default;
  margin-bottom: 32px;
}

.more_info_description {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include on-tablet {
    flex-direction: row;
  }

}

.more_info_description.expanded {
  opacity: 1;
  max-height: 400px;
  margin-top: 8px;
}

.similar_products_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
}

.similar_products_title {
  font-family: Canzil, sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  margin: 16px 0;
  width: 100%;
  text-align: center;

  @include on-tablet {
    font-size: 36px;
  }

  @include on-desktop {
    font-size: 40px;
  }
}

.similar_products_list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  overflow-x: scroll;
  padding: 0 24px;
  scroll-padding: 0 24px;
  scroll-snap-type: x mandatory;
}

.similar_products_list > * {
  flex-shrink: 0;
  scroll-snap-align: start;
}

.similar_products_list::-webkit-scrollbar {
  display: none;
}