@use './variables.scss' as *;

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin width() {
  width: 288px;
  @media (min-width: $tablet-min-width) {
    width: 592px;
  }
  @media (min-width: 768px) {
    width: 720px;
  }
  @media (min-width: $desktop-min-width) {
    width: 1136px;
  }
}

@mixin columns-1-grid() {
  @media (min-width: 320px) {
    @content;
  }
}
@mixin columns-2-grid() {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}
@mixin columns-3-grid() {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin columns-4-grid() {
  @media (min-width: 1200px) {
    @content;
  }
}
